include README.rst
include LICENSE
include requirements.txt
recursive-include ckanext/dge_brokenlinks *.html *.json *.js *.less *.css *.mo *.yml
recursive-include ckanext/dge_brokenlinks/migration *.ini *.py *.mako
